registry=https://registry.yarnpkg.com/
@switchcase:registry=https://pkgs.dev.azure.com/switchcasegroup/_packaging/SwitchCase/npm/registry/
@gallus:registry=https://pkgs.dev.azure.com/switchcasegroup/_packaging/SwitchCase/npm/registry/
always-auth=true
